@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&family=Poppins:ital,wght@0,100;0,200;1,100&display=swap");

:root {
  /* Fonts */
  --font-poppins: "Montserrat", sans-serif;

  /* Colors */
  --backGray: #ededed;
  --black: #191919;
  --blue: #3483fa;
  --darkBlue: #2968c8;
  --darkGray: #4c4c4c;
  --lightGray: #e2e2e2;
  --mediumGray: #acacac;
  --white: #ffffff;
  --yellow: #fff159;
  --darkYellow: #e0cb0d;
}
